<footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Schmerdpress 2018 to Infinity</p>
          </div>
        </div>
      </div>
    </footer>