.main-container {
    min-height: calc(100vh - 7.5rem);
}

.bg-wordpress {
    background-color: #0073AA !important;
}

.make-footer-white {
    color: white !important;
}

.footer-link {
    color: white !important;
    font-style: italic;
}

.post-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}