{% extends 'blog/header.html' %}

{% block content %}

{% load static %}
<header class="masthead" style="background-image: url('{% static 'blog/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Schmerdpress</h1>
                    <span class="subheading">The world's worst fake blog.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'blog:post' post.pk %}">
                        <h2 class="post-title">
                            {{post.post_title}}
                        </h2>

                        {% if post.post_subtitle %}
                            <h3 class="post-subtitle">
                                {{post.post_subtitle}}
                            </h3>
                        {% endif %}

                    </a>
                    <p class="post-meta">
                    Posted by <a href="#">{{post.post_author.username}}</a> on {{post.pub_date|date:"F d, Y"}}
                    </p>
                </div>
                <hr>
            {% endfor %}
            
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{% url 'blog:post-list' %}">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>

{% endblock content %}