{% extends 'blog/header.html' %}

{% block content %}

{% load static %}
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>All Posts</h1>
                
                    <h3 class="post-subtitle">
                        Taking a waltz down memory lane.
                    </h3>
                    
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'blog:post' post.pk %}">
                        <h2 class="post-title">
                            {{post.post_title}}
                        </h2>

                        {% if post.post_subtitle %}
                            <h3 class="post-subtitle">
                                {{post.post_subtitle}}
                            </h3>
                        {% endif %}

                    </a>
                    <p class="post-meta">
                    Posted by <a href="#">{{post.post_author.username}}</a> on {{post.pub_date|date:"F d, Y"}}
                    </p>
                </div>
                <hr>
            {% endfor %}
            
        </div>
    </div>
</div>

<hr>

{% endblock content %}