{% extends 'blog/header.html' %}

{% block content %}

{% if post.post_image %}
<header class="masthead" style="background-image: url('{{post.post_image}}')">
{% else %}
<header class="masthead" style="background-color: black">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{post.post_title}}</h1>
                    {% if post.post_subtitle %}
                    <h3 class="post-subtitle">
                        {{post.post_subtitle}}
                    </h3>
                    {% endif %}
                    <span class="meta">
                        Posted by <a href="#">{{post.post_author.username}}</a> on {{post.pub_date|date:"F d, Y"}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>

    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto">

                {{post.post_body|safe|linebreaks}}

            </div>

        </div>

    </div>

</article>

{% endblock content %}