{% extends 'blog/header.html' %}

{% block content %}

{% if page.page_image %}
<header class="masthead" style="background-image: url('{{page.page_image}}')">
{% else %}
<header class="masthead" style="background-color: black">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{page.page_title}}</h1>
                    {% if page.page_subtitle %}
                    <h3 class="post-subtitle">
                        {{page.page_subtitle}}
                    </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<article>

    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto">

                {{page.page_content|safe|linebreaks}}

            </div>

        </div>

    </div>

</article>

{% endblock content %}